* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(pic.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: " ";
  width: 0;
  height: 3px;
  background: aqua;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.head-text {
  margin-top: 20%;
  font-size: 30px;
}
.head-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.head-text h1 span {
  color: aqua;
}
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col1 {
  flex-basis: 35%;
}
.col1 img {
  width: 100%;
  border-radius: 15px;
}
.col2 {
  flex-basis: 60%;
}
.subtext {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.title {
  display: flex;
  margin: 20px 0 40px;
}
.link {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.link::after {
  content: " ";
  width: 0;
  height: 3px;
  background: aqua;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.link.act::after {
  width: 50%;
}
.tab-cont ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-cont ul li span {
  color: aqua;
  font-size: 14px;
}
.tab-cont {
  display: none;
}
.tab-cont.active-tab {
  display: block;
}
/*.....................services..........................*/
#services {
  padding: 30px 0;
}

.certif-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.certif-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, blue, rgb(248, 3, 215));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.certif-list div:hover {
  transform: translateY(-10px);
  background-color: #4b0082;
  box-shadow: 0 8px 16px rgb(2, 244, 208);
}

.certif-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.certif-list div p {
  margin-bottom: 20px;
}

<!-----------------projects------------- ----------------- > #project {
  padding: 30px 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px rgba(0, 0, 0, 0.19);
  border: 4px solid transparent;
  border-image: linear-gradient(to right, blue, rgb(248, 3, 215));
  border-image-slice: 1;
}

.project-list div:hover {
  transform: translateY(-10px);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2),
    0 12px 24px rgba(0, 0, 0, 0.2);
}

.project-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.project-list div p {
  margin-bottom: 20px;
}

.project-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: burlywood;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

.project-list div a:hover {
  background-color: #ff7f25;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.project-list div:hover {
  transform: translateY(-10px);
  background-color: #4b0082;
  box-shadow: 0 8px 16px rgb(2, 244, 208);
}

.center {
  text-align: center;
}

<!---------------contact------------ > .row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
}

.contact-right form {
  text-align: center; /* Center align form elements */
}

.contact-right form input,
.contact-right form textarea,
.contact-right form button {
  display: block;
  margin: 0 auto 10px; /* Center align form elements vertically */
}

.btn2,
.btn1 {
  background-color: #ff7f25;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.btn2:hover,
.btn1:hover {
  background-color: #e66000;
}

.cv {
  color: #fff;
  text-decoration: none;
}

.cv:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #ff7f25;
  box-shadow: 0 0 5px rgba(255, 127, 37, 0.5);
}

.btn1 {
  background-color: #ff7f25;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn1:hover {
  background-color: #e66000;
}
@media only screen and (max-width: 600px) {
  .header {
    background-image: url(pic.png);
  }
  .head-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .head-text h1 {
    font-size: 30px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
}
